.form {
  max-width: 1200px;
  background-color: rgb(239, 191, 199);
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
}

.row {
  display: flex;
  justify-content: space-between;
}

.row-input {
  width: 60%;
}

.phone-email {
  display: flex;
  justify-content: space-between;
}

.column {
  display: flex;
  justify-content: space-between;
  width: 45%;
}
